{% extends "base.html" %}
{% load timetags %}
{% block content %}

    <table class="table table-hover">
        <tr class="info">
            <td>Created By</td>
            <td>Time</td>
            <td>Story</td>
            <td>Pivotal Story</td>
            <td>GitHub Link</td>
        </tr>
  {% for review in reviews %}
        <tr>
            <td>{{ review.created_by.name }}</td>
            <td>{{ review.created_timestamp|print_timestamp }}</td>
            <td>{{ review.project_name }}</td>
            <td><a target="_blank" href={{ review.pv_link }} >{{ review.story_id }}</a></td>
            {% if review.github_link %}
            <td><a target="_blank" href={{ review.github_link }}>Review commit</a></td>
            {% else %}
            <td></td>
            {% endif %}
        </tr>
  {% endfor %}
{% endblock %}
    </table>